#main {
    width: 90vw;
    min-width: 300px;
    display:flex;
    flex-flow: nowrap column;
    justify-items: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#main article {
    min-width: 400px;
}

#knowledge, #knowledge section {
    width: 40vw;
    min-width: 300px;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-items: center;
    transition: .150s;
}

#knowledge nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: nowrap row;
}

#knowledge nav ul li:nth-child(odd) {
    margin: 0 1em;
}

.activeSection {
    margin: 1em 0;
    height: 300px;
}

.inactiveSection {
    height: 0;
    font-size: 0;
    visibility: hidden;
}

#experiencies {
    background-color: aquamarine;
    width: 90%;
    max-width: 700px;
}

#experiencies nav ul li {
    display: flex;
    flex-flow: row;
}
