#main {
    width: 100vw;
    min-width: 300px;
    display:flex;
    flex-flow: nowrap column;
    justify-items: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#knowledge {
    margin: 50px 0;
}

#knowledge, #knowledge section {
    width: 40vw;
    min-width: 300px;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-items: center;
    transition: .150s;
}

#knowledge nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: nowrap row;
}

#knowledge nav ul li:nth-child(odd) {
    margin: 0 1em;
}

.activeSection {
    margin: 1em 0;
    height: 150px;
}

.inactiveSection {
    height: 0;
    font-size: 0;
    visibility: hidden;
}

#experiencies {
    width: 80%;
    display: flex;
    flex-flow: column;
    align-content: center;
}

#experiencies > h1 {
    text-align: center;
}

#experiencies > div {
    display: flex;
    flex-flow: row;
}

#experiencies nav {
    margin: 2rem 0 0 5%;
}

#experiencies nav ul {
    width: 20vw;
    min-width: 150px;
    padding-inline-start: 0;
    border-width: 0 2px;
    border-style:  solid;
    padding: 1px 10px;
}


#experiencies nav ul li {
    height: 1em;
    display: flex;
    flex-flow: row;
    margin: 1em 0 2em 0;
}

#experiencies nav ul li h5 {
    margin: 0px;
}

.experiencieActive {
    font-size: 1.1em;
}

.experiencieInactive {
    font-size: 1em;
}

#experiencies > div div {
    height: 250px;
    min-width: 300px;
    max-width: 500px;
    width: 70%;
    padding: 3em;
    text-align: justify;
    margin:auto;
}