/* Theme Selecter */

#themeSelecter {
    margin: 20px 20px -30px 80%;
    cursor: pointer;
    position: relative;
}

#themeSelecter input {
    width: 0px;
    height: 0px;
    opacity: 0;
}

#themeSelecter span {
    height: 20px;
    width: 37px;
    position: absolute;
    margin: 0;
    border-radius: 20px;
    background-color: rgb(45, 45, 59);
    transition: .4s;
}

#themeSelecter span:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgb(210, 212, 222);
    transition: .4s;
}

#themeSelecter input:checked + span {
    background-color: rgb(210, 212, 222);
}

#themeSelecter input:checked + span:before {
    background-color: rgb(45, 45, 59);
    transform: translateX(17px);
}


/* LIGHT THEME */

.lightTheme , .lightTheme #header div:nth-child(2){
    background: rgb(236, 235, 245);
    color:rgb(39, 39, 44);
    transition: .2s;
}

.lightTheme header, .lightTheme #knowledge section {
    background: rgb(210, 212, 222);
}

.lightTheme header > div {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(21, 21, 21) 20%, rgb(21, 21, 21) 80%, rgba(0, 0, 0, 0) 100%);
}


/* DARK THEME */

.darkTheme ,.darkTheme #header div:nth-child(2){
    background: rgb(102, 108, 124);
    color:rgb(186, 192, 203);
    transition: .2s;
}

.darkTheme header, .darkTheme #knowledge section {
    background: rgb(45, 45, 59);
}

.darkTheme header > div {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(205, 204, 210) 20%, rgb(205, 204, 210) 80%, rgba(0, 0, 0, 0) 100%);
}

 